<% provide(:title, "Users") %>
<h1>利用者一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <!--<tr height="40">-->
        <tr>
          <td>
            <div><%= link_to user.name, user %></div>
            <% if user.admin? %>
              <div><span class="label label-default label-primary">管理者</span></div>
            <% else %>
              <div><span class="label label-default label-success">一般</span></div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>  
</div>