div.task-new-btn {
  float: right;
}

.btn-task {
  margin-top: 10px;
}

.label-task {
  margin-top: 5px;
}

.task-title {
  font-size: 1.2em;
}

.task-table tr td div {
  line-height: 30px;
}

.show-table th {
  background-color: #EEE;
  text-align: center;
  div {
    line-height: 135px;
  }
}