table.table td div { 
  float: left;
  line-height: 30px;
  .label {
    margin-left: 10px;
  }
}

.show-table th {
  text-align: center;
}

#table-users tbody tr td div.user-delete {
  float: right;
}